body {
	background-color: #888a85;
}

#out,#in {
	font-family: monospace;
	font-size: 10pt;
	overflow: hidden;
	background-color: #000000;
	color: #d3d7cf;
	margin-top: 10px;
	padding: 2px;
	border: 1px solid #000000;
}

#con {
	width: 650px;
	margin: auto;
}
